*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: digital;
    src: url(./font/digital-7.ttf);
  }
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: DarkGray;
}
.container{
    width: 320px;
    height: 360px;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
.container div,.container button{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.5);
    background-color: #2F4F4F;
    color: #fff;
    font-size: 18px;
    outline: none;
}
.container button:hover{
    border-color: rgba(169,169,169,0.5);
    color: rgba(0,0,0,0.7)
}
.container .result{
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-family: digital;
}
.container .result p{
    display: block;
    height: 20px;
    width: 100%;
    font-size: 20px;
    text-align: right;
    margin-top: -10px;
    letter-spacing: 2px;
    color: chocolate;
}
.container .result span {
    height: 22px;
    width: 100%;
    text-align: right;
    margin-bottom: -10px;
    font-size: 22px;
    letter-spacing: 2px;
}
.container .AC_btn,.container .zero{
    grid-column-start: 1;
    grid-column-end: 3;
}
.container .AC_btn{
    background-color: #A52A2A;
}
.container .divide,.container .multiply,.container .Sub,.container .add{
    background-color: #696969;
}
.container .execute{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: #008080;
}
